body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.flex-sec{
    display: flex;
margin-bottom: 150px;    
}

h1 {
font-size: 50px;
}

.name{
    color:tomato;
}

.button1 { 
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 49, 49), tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}

.half-width {
width: 50%;
padding-left: 100px;
margin: right 10px;
margin-top: 20px;
}

.half-width img {
width: 75%;

}
.topbanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
